@{
    ViewData["Title"] = "Home Page";
}

<div class="container" ng-app="Messenger" ng-controller="MessengerController" ng-init="$t  = startConnection('/chat')">
    <div class="row" ng-show="!user.isOnline">
        <div class="form-group">
            <label class="col-md-3">
                username
            </label>
            <input ng-model="user.userName" class="form-control col-md-9" type="text" />
        </div>
        <div class="form-group">
            <label class="col-md-3">
                avatar
            </label>
            <input ng-model="user.userAvatar" class="form-control col-md-9" type="text" />
        </div>
        <div class="form-group">
            <a class="btn btn-sm btn-success form-control" ng-click="connect()">connect</a>
        </div>
    </div>
    <div class="row" ng-show="user.isOnline">
        <div>
            Hello {{user.userName}} <img ng-show="user.avatar !=''" src="{{user.avatar}}"/>
        </div>
        <input type="text" ng-model="user.message" />
        <input type="button" id="sendmessage" value="Send" />
        <input type="hidden" id="displayname" />
        <ul id="discussion"></ul>
    </div>

</div>
@section scripts{
    <script src="/js/plugins/signalR/signalr-clientES5.js"></script>
    <script src="/js/plugins/signalR/signalr-msgpackprotocolES5.js"></script>

}